html,
* {
	padding: 0;
 	margin: 0;
  	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  	padding: 0px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

 Jumbotron {
  height: 100vh;
}

[type='radio'] {
    display: none; 
}

.app {
	display: inline-flex;
    position: relative;
    /*width: 100% !important!*/
}

.swal2-icon.swal2-success {
  border-color: #17a2b8 !important;
  background: #17a2b8 !important;
  color: #17a2b8 !important;
}

.swal2-wide {
  width: 100% !important;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.google-btn {

  border: thin solid #ff5757;

}